#reviews #reviewSection {
  margin: 0px 100px 0px 130px;
}

#afterReviews4 {
  position: relative;
  height: 650px;
  width: 90%;
  margin: 0 40px 0 120px;
  top: 400px;
}

#PhotoService #photoGalleryService #hardcodePhoto1 {
  position: relative;
  right: 125px;
  height: 80%;
  width: 80%;
}

#PhotoService #photoGalleryService #hardcodePhoto2 {
  position: relative;
  right: 125px;
  height: 80%;
  width: 80%;
}

#PhotoService #photoGalleryService #hardcodePhoto3 {
  position: relative;
  right: 125px;
  height: 80%;
  width: 80%;
}

#parentRes {
  position: absolute;
  height: 215%;
  top: 525px;
  right: 150px;
}

#reservation {
  top: 0;
  left: 0;
  position: sticky;
}

#recommendations {
  position: relative;
  left: 105px;
}